<h1>Burgers!</h1>

<h2>Burger is ready!</h2>

<ul>
  {{#each burgers}}
   {{#unless devoured}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="eatBurger">Eat me!!</button>
    </p>
  </li>
  {{/unless}} 
  {{/each}}
</ul>

<h2>Burger was devoured!</h2>
<ul>
  {{#each burgers}}
   {{#if devoured}}
  <p>
    {{this.id}}. {{this.burger_name}}
  </p>
  {{/if}} 
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form id="addBurger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Add!</button>
</form>


<script type="text/javascript">

  $(function () {
    $(".eatBurger").on("click", function (event) {
      var id = $(this).data("burgerid");

      var newBurgerState = {
        devoured: true
      };
      console.log(newBurgerState.devoured);
      console.log(id);

      // Send the DELETE request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: newBurgerState
      }).then(
        function () {
          console.log("deleted id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });




    $("#addBurger").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      var newBurger = {
        burger_name: $("#addBurger [name=burger]").val().trim(),
        eatBurger: false
      };
      console.log("object in the handlebars" + newBurger.burger_name, newBurger.eatBurger);
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  });


</script>